<h2>Add a Wedding</h2>

<form action="/process-wedding" method="POST">
  <label>
    Name: 
    <input type="text" name="name" placeholder="Charles & Clémence 's wedding...">
  </label>
  <br>

  <label>
    Description: 
    <input type="text" name="description" placeholder="Near to Poitiers...">
  </label>
  <br>

  <label>
    Picture URL:
    <input type="url" name="pictureUrl" placeholder="http://example.com">
  </label>
  <br>

  <button>Save This Wedding</button>

</form>