<div class="big-container">

    <div class="picture-container message-user ">


        {{#each fullConversationArray}}
        <ul>
            <li><img src="{{this.pictureUrl}}" class="trigger-0" height="440px"></li>
            <li><a class="link-button" href="conversations/{{this._id}}">Open conversation</a></li>
        </ul>
        {{/each}}

    </div>

</div>

