<div class="big-container">

    <div class="picture-container own-wedding ">
        <ul>
            <li><img src="{{fullConversationArray.[0].pictureUrl}}" class="trigger-0" width="200px" alt=""></li>
            <a href="conversations/{{fullConversationArray.[0]._id}}">Open conversation</a>

        </ul>
        <ul>
            <li><img src="{{fullConversationArray.[1].pictureUrl}}" class="trigger-1" width="200px" alt=""></li>
            <a href="conversations/{{fullConversationArray.[1]._id}}">Open conversation</a>
        </ul>
    </div>

</div>

