<section id="error-page">

  <div class="text">
    <h2>Whoops!</h2>
    <h2>We couldn't find the page you are looking for...</h2>

    <a href="/">Go Back</a>
  </div>

  <div class="image">
    <img src="">
  </div>

</section>


