<section id="home-page">

    <div class="home-image fade-in-left">
        <img src="/images/boutonniere.jpg" height="600px">
    </div>

    <div class="home-text fade-in-right">
        <h2>Create an account</h2>
        <p>It's free and fast</p>

        <form action="/process-signup" method="POST">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <br>

            <label class="age">Age</label>
            <input type="number" name="age" min="18" max="65">
            <br>
            
            <div class="radio-option">
                <input type="radio" name="gender" value="female">
                <label>Female</label>
                <input type="radio" name="gender" value="male">
                <label>Male</label>
                <input type="radio" name="gender" value="other">
                <label>Other</label>
            </div>

            <input type="email" name="email" placeholder="Your email">
            <br>

            <input type="password" name="originalPassword" placeholder="Your password">
            <br>

            <div class="radio-option">
                <input type="radio" name="status" value="single">
                <label>Single</label>
                <input type="radio" name="status" value="relationship">
                <label>In a Relationship</label>
            </div>

            <button>Submit</button>
        </form>
    </div>
</section>
