<section id="error-page">

  <div class="text">
    <h2>Whoops!</h2>
    <p>We couldn't find the page you are looking for...</p>

    <a class="link-button" href="/">Go Back</a>
  </div>

  <div class="image">
    <img src="/images/error-icon.svg">
  </div>

</section>