<section id="wedding-form-section">

  <div class="wedding-form-wrapper">

    <h2>Add a Wedding</h2>

    <form action="/process-wedding" method="POST">
      <label>
        Name: 
        <input type="text" name="name" placeholder="Charles & Clémence 's wedding...">
      </label>
      <br>

      <label>
        Day: 
        <input type="text" name="date" placeholder="Le 25 août 2018">
      </label>
      <br>

      <label>
        Description: 
        <textarea type="text" name="description" placeholder="Near to Poitiers..."></textarea>
      </label>
      <br>

      <label>
        Picture URL:
        <input type="url" name="pictureUrl" placeholder="http://example.com">
      </label>
      <br>

      <button>Save This Wedding</button>

    </form>

  </div>

</section>
