<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section id="home-page">
    <div class="image">
        <img src="" alt="">
    </div>

    <div>
        <h2>Create an account</h2>
        <p>It's free and fast</p>

        <form action="/process-signup" method="POST">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <br>

            <input type="date" name="birthday">
            <br>
            
            <div>
                <input type="radio" name="gender" value="female">
                <label>Female</label>
            </div>

            <div>
                <input type="radio" name="gender" value="male">
                <label>Male</label>
            </div>

            <div>
                <input type="radio" name="gender" value="other">
                <label>Other</label>
            </div>

            <input type="email" name="email" placeholder="Your email">
            <br>

            <input type="password" name="originalPassword" placeholder="Your password">
            <br>

            <button>Submit</button>
        </form>
    </div>
</section>
