<h2>Hello {{currentUser.firstName}} </h2>



<section id="logged-home-page">
    <div>
        <a href="#0">Find a wedding</a>
    </div>

    <div>
        <a href="/wedding/add">Add a new wedding</a>
    </div>
</section>