<section id="wedding-details">

  <div class="text">
    <h2>{{weddingItem.name}}</h2>
    <p>{{weddingItem.description}}</p>
  </div>

  <div class="image">
    <img src="{{weddingItem}}">
  </div>

</section>
